#txt0,#txt1,#txt2,#txt3,#txt4,#txt5,#txt6,#txt7,#txt8,#txt9,#txt10,#txt11,#txt12,#txt13,#txt14,#txt15{
    display:none;
}

main {
    display: flex;

    flex-direction: column;

    align-items: center;
}

h1 {
    text-align: center;
}

#titre{
    list-style: none;
}

span{
    font-weight: bold;
}

#containeur{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside{
    margin: auto;
    margin-right: 20%;
}
