/* Ajoutez cette règle pour la classe "fond-vert" */
.fond-vert {
    background-color: rgb(34, 194, 34);
}

input::placeholder{
    color: black;
}
input[type=text]{
    width: 600px;
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
input[type=time]{
    margin: 10px;
}
input[type=checkbox]{
    margin-right: 15px;
}

#capturedEcran{
    margin-top: 25px;
    margin-bottom: 25px;
}

main {
    display: grid;

    gap: 50px;
    padding-right: 75px;

    align-items: center;

    grid-template-columns: 3fr 2fr;

}

.orangeborder{
    border:solid 2px orange;
}
.redborder{
    border:solid 2px red;
}

h1 {
    text-align: center;
}

#conteneurHRE {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    height: 50px;           
    margin: 0;
    margin-top: 25px;
    background-color: black;
}

h2 {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-align: center;
}

#decallage{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    background-color: black;
    color: white;
}